<h1>Add New Director</h1>

<form action="http://localhost:3000/create_directors">

  <p>
    <label>Name</label>
    <input type="text" name="name">
  </p>

  <p>
    <label>Image URL</label>
    <input type="text" name="image_url">
  </p>
  <p>
    <label>Date of Birth</label>
    <input type="text" name="dob">
  </p>
  <p>
    <label>Biography</label>
    <input type="text" name="bio">
  </p>
  <p>
    <button>Create New Entry</button>
  </p>
</form>

